<%= render "shared/errors", obj: @member %>

<table class ="attr">
  <tr>
    <th><%= form.label :number, "Back Number" %> </th>
    <td><%= form.text_field :number, size: 8 %> </td>
  </tr>
  <tr>
    <th><%= form.label :name, "Name" %> </th>
    <td><%= form.text_field :name %> </td>
  </tr>
  <tr>
    <th><%= form.label :full_name, "Full Name" %> </th>
    <td><%= form.text_field :full_name %> </td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>
      <%= form.radio_button :gender , 0 %>
      <%= form.label :gender_0, "Man" %>
      <%= form.radio_button :gender , 1 %>
      <%= form.label :gender_1, "Woman" %>
    </td>
  <tr>
  <tr>
    <th><%= form.label :birthday, "Birthday",
            for: "member_birthday_1i" %> </th>
    <td><%= form.date_select :birthday,
             start_year: 1900, end_year: Time.now.year,
             use_month_number: true %> </td>
  </tr>
  <tr>
    <th><%= form.label :email, "Mail Address" %> </th>
    <td><%= form.text_field :email %> </td>
  </tr>
  <tr>
    <th>Administrator</th>
    <td>
      <%= form.check_box :administrator %>
      <%= form.label :administrator, "Administrator" %>
    </td>
  </tr>
</table>
